streamlit==1.38.0
pandas==2.1.1
scikit-learn==1.2.2
spacy==3.5.3
textblob==0.17.1
imbalanced-learn==0.11.1
matplotlib==3.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.1/en_core_web_sm-3.6.1-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85


