streamlit==1.50.0
pandas==2.3.3
numpy==2.3.3
scikit-learn==1.7.2
imbalanced-learn==0.14.0
xgboost==1.8.5
spacy==3.8.7
en-core-web-sm==3.8.0
plotly==6.3.0
wordcloud==1.9.4
matplotlib==3.10.6
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85

