--extra-index-url https://pypi.org/simple

streamlit
pandas
numpy
scikit-learn
imbalanced-learn
plotly
matplotlib
spacy
wordcloud
pillow

# SpaCy English model
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
